@import "tailwindcss";

.partners-scroll::-webkit-scrollbar {
  height: 6px;
}

.partners-scroll::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}

.partners-scroll::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
  border-radius: 10px;
}

.partners-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.4) rgba(255,255,255,0.1);
}
